<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="Miruken" version="1.1.0.69" targetFramework="net461" />
  <package id="Miruken.Castle" version="1.1.0.28" targetFramework="net461" />
  <package id="Miruken.Mvc" version="1.1.0.22" targetFramework="net461" />
  <package id="Miruken.Mvc.Castle" version="1.1.0.20" targetFramework="net461" />
</packages>