<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="ExpressionEvaluator" version="2.0.4.0" targetFramework="net461" />
  <package id="FluentValidation" version="6.4.1" targetFramework="net461" />
  <package id="Improving.MediatR" version="3.0.2.2" targetFramework="net461" />
  <package id="MediatR" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Miruken" version="1.1.0.69" targetFramework="net461" />
  <package id="Miruken.Castle" version="1.1.0.28" targetFramework="net461" />
  <package id="Miruken.Mvc" version="1.1.0.22" targetFramework="net461" />
  <package id="Miruken.Mvc.Castle" version="1.1.0.20" targetFramework="net461" />
  <package id="Miruken.Mvc.Wpf" version="1.1.0.17" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.9" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.9" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.9" targetFramework="net461" />
  <package id="SmartFormat.NET" version="1.6.1.0" targetFramework="net461" />
</packages>